/* Original Image: 730pxx818px */
/* 7 rows + 1 extra entry */

@font-face {
    font-family: Impact;
    src: url('fonts/Impact.ttf');
}

@font-face {
    font-family: FuturaLight;
    src: url('fonts/Futura\ Light\ Regular.otf');
}

:root {
    /* screen = <= 720px */
    --width-screen-720-main: 720px;
    --width-screen-720-main1: 700px;

    --width-screen-1080-main: 1080px;
    --width-screen-1080-main1: 1060px;

    --font-720-size1: 42px;
    --font-720-size2: 32px;
    --font-720-size3: 25px;
    --font-720-size4: 20px;

    --font-1080-size1: 46px;
    --font-1080-size2: 36px;
    --font-1080-size3: 30px;
    --font-1080-size4: 25px;
}

body {
}

.customSection {
    width: 100%;
}

.customSectionDivider {
    height: 20px;
}

.flavorSection {
    background: 
        linear-gradient(rgba(255,255,255,1.0), rgba(255,255,255,0.0) 10%, rgba(255,255,255,0.0) 79%, rgba(255,255,255,1.0)), 
        linear-gradient(90deg, rgba(255,255,255,1.0), rgba(255,255,255,0.0) 2.5%, rgba(255,255,255,0.0) 97.5%, rgba(255,255,255,1.0)), 
        url('Images/beach2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
}

.customContainer {
    background: rgba(255,255,255,0.5);
    border-radius: 30px;
    box-shadow: 3px 3px 7px rgba(128,128,128,0.5);
    /* max-width: var(--width-screen-720-main);
    min-width: var(--width-screen-720-main); */
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.customContainer2 {
    /* max-width: var(--width-screen-720-main);
    min-width: var(--width-screen-720-main); */
    margin-left: auto;
    margin-right: auto;
}

.flavorHeader {
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    /* font-size: 42px !important; */

    margin-left: auto;
    margin-right: auto;
    display: block !important;
    margin-bottom: 10px;
}

.headerLine {
    width:100%;
    box-shadow: 3px 3px 3px rgba(128,128,128,0.5);
    background: white;
    border-radius: 3px;
    height: 3px;
}

.marginLine {
    margin-top: 10px;
}

.tableOuter {
    display: table;
    /* max-width: var(--width-screen-720-main1);
    min-width: var(--width-screen-720-main1); */
    border-spacing: 15px;
}

.tableRow {
    display:table-row;
}

.tableCell {
    display: table-cell;
    box-shadow: 3px 3px 3px rgba(128,128,128,0.5);
    border-radius: 35px;
    border: 3px solid white;
    padding: 3px;
    background: rgba(0,255,255,0.5);
    margin: 10px;
}

.boxShapeOuter {
    min-width: 300px;
    min-height: 70px;
    box-shadow: 3px 3px 7px rgba(128,128,128,0.5);
    border-radius: 30px;
    border: 5px solid white;
    padding: 30px;
    background: rgba(0,255,255,0.5)
}

.innerCircle {
    border-radius: 25px;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

.innerCircle img {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    border: 3px solid white;
    padding: 0;
    margin: 0;
    margin-right: 10px;
    box-shadow: 3px 3px 3px rgba(128,128,128,0.5);
}

.innerText {
    font-family: 'Impact';
    /* font-size: 32px; */
    color: white;
    text-shadow: #FFF 0px 0px 2px,   #FFF 0px 0px 2px,   #FFF 0px 0px 2px,
             #FFF 0px 0px 2px,   #FFF 0px 0px 2px,   #FFF 0px 0px 2px, rgba(0, 0, 0, 0.75) 3px 3px 7px;
    display: inline-block;
    vertical-align: middle;
}

.bananaShadow {
    color:#E6B816;
    text-shadow: #FFF 0px 0px 2px,   #FFF 0px 0px 2px,   #FFF 0px 0px 2px,
             #FFF 0px 0px 2px,   #FFF 0px 0px 2px,   #FFF 0px 0px 2px, rgba(0, 0, 0, 0.75) 3px 3px 7px;
}

.lemonShadow {
    color:#d3d202;
    text-shadow: #FFF 0px 0px 2px,   #FFF 0px 0px 2px,   #FFF 0px 0px 2px,
             #FFF 0px 0px 2px,   #FFF 0px 0px 2px,   #FFF 0px 0px 2px, rgba(0, 0, 0, 0.75) 3px 3px 7px;
}

.birthdayCakeShadow {
    color:#ba89aa;
    text-shadow: #FFF 0px 0px 2px,   #FFF 0px 0px 2px,   #FFF 0px 0px 2px,
             #FFF 0px 0px 2px,   #FFF 0px 0px 2px,   #FFF 0px 0px 2px, rgba(0, 0, 0, 0.75) 3px 3px 7px;
}

.splendaOptions {
    color: white;
    /* width: 200px;
    height: 200px; */
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background: #FB2531;
    border-radius: 1100px;
    border: #FBB3AF solid 10px;
    box-shadow: 3px 3px 7px rgba(128,128,128,0.5);
    text-align: center;
    font-family: Helvetica, sans-serif, Arial;
    font-style: italic;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-shadow: 3px 3px 3px rgb(165, 13, 18);
    /* font-size: 20px; */
}

.splendaOptions span {
    vertical-align: middle;
}

.footerSection {
    background: linear-gradient(rgba(255,255,255,1.0), rgba(255,255,255,0.0) 85%, rgba(255,255,255,0.0) 90%, rgba(255,255,255,1.0)), linear-gradient(90deg, rgba(255,255,255,1.0), rgba(255,255,255,0.0) 2.5%, rgba(255,255,255,0.0) 97.5%, rgba(255,255,255,1.0)), url('Images/ice-forest.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 90px;
}

.contactUsHeader {
    font-family: 'Impact';
    /* font-size: 42px; */
    text-shadow: #FFF 0px 0px 2px,   #FFF 0px 0px 2px,   #FFF 0px 0px 2px,
    #FFF 0px 0px 2px,   #FFF 0px 0px 2px,   #FFF 0px 0px 2px, rgba(0, 0, 0, 0.75) 3px 3px 7px;
    color: rgb(82, 91, 188);
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.contactTable {
    display: table;
    border-spacing: 15px;
    /* max-width: var(--width-screen-720-main1);
    min-width: var(--width-screen-720-main1); */
}

.contactTableRow {
    display: table-row;
}

.contactTableCell {
    display: table-cell;
    vertical-align: top;
}

.contactTableHeaderLine {
    font-family: 'Impact';
    /* font-size: 25px; */
    text-shadow: #FFF 0px 0px 2px,   #FFF 0px 0px 2px,   #FFF 0px 0px 2px,
    #FFF 0px 0px 2px,   #FFF 0px 0px 2px,   #FFF 0px 0px 2px, rgba(0, 0, 0, 0.75) 3px 3px 7px;
    color: rgba(109, 116, 199, 1);
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

.facebookHeaderCell {
    font-family: 'Impact';
    /* font-size: 25px; */
    text-shadow: #FFF 0px 0px 2px,   #FFF 0px 0px 2px,   #FFF 0px 0px 2px,
    #FFF 0px 0px 2px,   #FFF 0px 0px 2px,   #FFF 0px 0px 2px, rgba(0, 0, 0, 0.75) 3px 3px 7px;
    color: rgba(109, 116, 199, 1);
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.facebookEmbeddedPage {
    width: 506px; 
    height: 306px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 7px 7px 7px gray;
    border: 3px solid rgba(35, 114, 229, 1);
}

.contactName {
    font-family: 'Impact';
    /* font-size: 20px; */
    text-shadow: #FFF 0px 0px 2px,   #FFF 0px 0px 2px,   #FFF 0px 0px 2px,
    #FFF 0px 0px 2px,   #FFF 0px 0px 2px,   #FFF 0px 0px 2px, rgba(0, 0, 0, 0.75) 3px 3px 7px;
    color: rgba(109, 116, 199, 1);
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

.contactEmail {
    font-family: 'Impact';
    /* font-size: 20px; */
    text-shadow: #FFF 0px 0px 2px,   #FFF 0px 0px 2px,   #FFF 0px 0px 2px,
    #FFF 0px 0px 2px,   #FFF 0px 0px 2px,   #FFF 0px 0px 2px, rgba(0, 0, 0, 0.75) 3px 3px 7px;
    color: rgba(109, 116, 199, 1);
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

.contactPhone {
    font-family: 'Impact';
    /* font-size: 20px; */
    text-shadow: #FFF 0px 0px 2px,   #FFF 0px 0px 2px,   #FFF 0px 0px 2px,
    #FFF 0px 0px 2px,   #FFF 0px 0px 2px,   #FFF 0px 0px 2px, rgba(0, 0, 0, 0.75) 3px 3px 7px;
    color: rgba(109, 116, 199, 1);
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

.contactFormTable {
    display: table;
    border-spacing: 0;
    width:100%;
}

.contactFormRow {
    display: table-row;
    margin-top: 10px;
}

.contactFormTitle {
    display: table-cell;
    font-family: 'Impact';
    /* font-size: 20px; */
    text-shadow: #FFF 0px 0px 2px,   #FFF 0px 0px 2px,   #FFF 0px 0px 2px,
    #FFF 0px 0px 2px,   #FFF 0px 0px 2px,   #FFF 0px 0px 2px, rgba(0, 0, 0, 0.75) 3px 3px 7px;
    color: rgba(109, 116, 199, 1);
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    vertical-align: top;
    margin-bottom: 10px;
}

.contactFormEntry {
    display: table-cell;
    width:100%;
    padding-left: 10px;
    padding-top: 10px;
}

.contactFormSubmit {
    display: table-cell;
    padding-left: 10px;
    padding-top: 10px;
}

.logoPenguin {
    display: inline-block;
}

.logoPenguin img {
    filter: drop-shadow(7px 7px 7px black);
    width: 200px;
    vertical-align: bottom;
}

.logoName {
    display: inline-block;
}

.logoName img {
    filter: drop-shadow(7px 7px 7px black);
    width: 300px;
    vertical-align: bottom;
}

.logoBlock {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 510px;
    max-width: 510px;
    margin-top: 20px;
    margin-bottom: -7px;
}

.titleSection {
    background: 
        linear-gradient(rgba(255,255,255,1.0), rgba(255,255,255,0.0) 70%, rgba(255,255,255,0.0) 79%, rgba(255,255,255,1.0)), 
        linear-gradient(90deg, rgba(255,255,255,1.0), rgba(255,255,255,0.0) 2.5%, rgba(255,255,255,0.0) 97.5%, rgba(255,255,255,1.0)), 
        url('Images/neworleans.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.mainContentWrapoer {
    width: 100%;
}

.navBlock {
    background: rgba(204, 235, 236, 0.54);
    padding-bottom: 15px;
    padding-top: 10px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5) inset;
}

.navBlockContainer {
    display: flex;
    align-content: center;
    justify-content: center;
}

.navItemImage img {
    width: 60px;
    padding-top: 3px;
    margin-right: -3px;
}

.navItemImage2 img {
    width: 60px;
    padding-top: 3px;
    transform: scaleX(-1);
}

.navItem a {
    background: rgb(120, 70, 185);
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Impact';
    /* font-size: 42px; */
    text-shadow: #FFF 0px 0px 2px,   #FFF 0px 0px 2px,   #FFF 0px 0px 2px,
        #FFF 0px 0px 2px,   #FFF 0px 0px 2px,   #FFF 0px 0px 2px, rgba(0, 0, 0, 0.75) 3px 3px 7px;
    color: rgba(187, 31, 44, 1);
    border-radius: 37px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
    border: 3px solid rgba(83, 234, 241, 0.91);
}

.navSelected a {
    background: rgb(58, 126, 197);
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Impact';
    /* font-size: 42px; */
    text-shadow: #FFF 0px 0px 2px,   #FFF 0px 0px 2px,   #FFF 0px 0px 2px,
            #FFF 0px 0px 2px,   #FFF 0px 0px 2px,   #FFF 0px 0px 2px, rgba(0, 0, 0, 0.75) 3px 3px 7px;
    color: rgba(183, 140, 35, 1);
    border-radius: 37px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
    border: 3px solid rgba(83, 234, 241, 0.91);
}

.navItem a:hover {
    color:rgba(0,128,255,0.75) !important;
}

.navSelected a:hover {
    color:rgba(0,128,255,0.75) !important;
}

.talkBubble {
    width: 300px;
    position: relative;
    display: block;
    top: -310px;
    left: 200px;
    clear: both;
    float: left;
    height: 0;    
}

.talkBubble img {
    width:300px;
}

.talkBubble span {

}

.homeImages {
    width:100%;
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.homeImages img {
    border-radius: 25px;
    border: 3px solid white;
    box-shadow: 7px 7px 7px rgba(0,0,0,0.5);
    margin-left: 7px;
    margin-right: 7px;
}

.aboutUsText {
    background: rgba(255,255,255,0.75);
    border-radius: 25px;
    padding: 20px;
    box-shadow: 7px 7px 7px rgba(0,0,0,0.25);
    font-family: 'FuturaLight';
    /* font-size: 20px; */
    font-weight: bolder;
}

.calendar {
    /* max-width: 690px;
    max-height: 420px; */
    box-shadow: 7px 7px 7px rgba(0,0,0,0.5);
    /* border: 3px solid cyan;
    border-radius: 0px;
    padding: 0px; */
    background: white;
    margin-left:auto;
    margin-right:auto;
}

@media screen and (max-width:999px) {
    .customContainer {
        max-width: var(--width-screen-720-main);
        min-width: var(--width-screen-720-main);
    }
    
    .customContainer2 {
        max-width: var(--width-screen-720-main);
        min-width: var(--width-screen-720-main);
    }

    .tableOuter {
        max-width: var(--width-screen-720-main1);
        min-width: var(--width-screen-720-main1);
    }
 
    .contactTable {
        max-width: var(--width-screen-720-main1);
        min-width: var(--width-screen-720-main1);
    }

    .flavorHeader {
        font-size: var(--font-720-size1) !important;
    }

    .innerText {
        font-size: var(--font-720-size2);
    }

    .splendaOptions {
        font-size: var(--font-720-size4);
    }

    .contactUsHeader {
        font-size: var(--font-720-size1);
    }

    .contactTableHeaderLine {
        font-size: var(--font-720-size3);
    }
    
    .facebookHeaderCell {
        font-size: var(--font-720-size3);
    }

    .contactName {
        font-size: var(--font-720-size4);
    }
    
    .contactEmail {
        font-size: var(--font-720-size4);
    }
    
    .contactPhone {
        font-size: var(--font-720-size4);
    }
        
    .aboutUsText {
        font-size: var(--font-720-size4);
    }

    .contactFormTitle {
        font-size: var(--font-720-size4);
    }

    .navItem a {
        font-size: var(--font-720-size1);
    }
    
    .navSelected a {
        font-size: var(--font-720-size1);
    }
        
    .calendar {
        max-width: 690px;
        max-height: 420px;
    }

    .splendaOptions {
        width: 200px;
        height: 200px;
    }
        
}

@media screen and (min-width:1000px) {

    .customContainer {
        max-width: var(--width-screen-1080-main);
        min-width: var(--width-screen-1080-main);
    }
    
    .customContainer2 {
        max-width: var(--width-screen-1080-main);
        min-width: var(--width-screen-1080-main);
    }

    .tableOuter {
        max-width: var(--width-screen-1080-main1);
        min-width: var(--width-screen-1080-main1);
    }
 
    .contactTable {
        max-width: var(--width-screen-1080-main1);
        min-width: var(--width-screen-1080-main1);
    }

    .flavorHeader {
        font-size: var(--font-1080-size1) !important;
    }

    .innerText {
        font-size: var(--font-1080-size2);
    }

    .splendaOptions {
        font-size: var(--font-1080-size4);
    }

    .contactUsHeader {
        font-size: var(--font-1080-size1);
    }

    .contactTableHeaderLine {
        font-size: var(--font-1080-size3);
    }
    
    .facebookHeaderCell {
        font-size: var(--font-1080-size3);
    }

    .contactName {
        font-size: var(--font-1080-size4);
    }
    
    .contactEmail {
        font-size: var(--font-1080-size4);
    }
    
    .contactPhone {
        font-size: var(--font-1080-size4);
    }

    .aboutUsText {
        font-size: var(--font-1080-size4);
    }

    .contactFormTitle {
        font-size: var(--font-1080-size4);
    }

    .navItem a {
        font-size: var(--font-1080-size1);
    }
    
    .navSelected a {
        font-size: var(--font-1080-size1);
    }

    .calendar {
        max-width: 900px;
        max-height: 700px;
    }

    .splendaOptions {
        width: 250px;
        height: 250px;
    }

}